@font-face {
  font-family: LatoRegular;
  src: url("/frontend/fonts/Lato-Regular.ttf") format("ttf");
}

@font-face {
  font-family: LatoRegular;
  src: url("/frontend/fonts/Lato-Bold.ttf") format("ttf");
}

@import "tailwindcss";
@theme {
    --font-latoregular: LatoRegular, "sans-serif";
    --font-latobold: LatoBold, "sans-serif";
    --color-primary: #2b2b2b;
    --color-secondary: #F5F5DC;
    --color-text: #f0f0f0;
    --color-accent: #c9a635;
    --color-btn: #8b5e3c;
}

@layer components {
  
}