@font-face {
  font-family: LatoRegular;
  src: url("/student023/shop/assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: LatoBold;
  src: url("/student023/shop/assets/fonts/Lato-Bold.ttf");
}

@import "tailwindcss";
@theme {
    --font-latoregular: LatoRegular, "sans-serif";
    --font-latobold: LatoBold, "sans-serif";
    --color-primary: #2b2b2b;
    --color-secondary: #F5F5DC;
    --color-text: #f0f0f0;
    --color-accent: #c9a635;
    --color-btn: #8b5e3c;
}

@layer components {
  .link{
    @apply text-text text-[2rem] font-latobold cursor-pointer
  }
}