*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


header {
    background-color: $primary;
    padding: 20px;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;

    @media (min-width: 810px) and (max-width: 1090px){
        justify-content: space-evenly;
    }

    >i{
        color: $text;
        cursor: pointer;
    }

    img{
        width: 32px;
        cursor: pointer;
    }

    nav{
        background-color: $primary;
        position: fixed;
        display: none;
        flex-direction: column;
        gap: 10px;
        padding: 40px 20px;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
        color: text;

        >div{
            display: flex;
            justify-content: end;

            i{
                color: $text;
                cursor: pointer;
            }
        }

        a{
            color: $text;
            font-size: 2rem;
            font-family: $latobold;
            cursor: pointer;
        }

        p{
            color: $text;
            font-size: 2rem;
            cursor: pointer;
            font-family: $latobold;
        }

        #dropdown-content{
            display: none;
            flex-direction: column;
            gap: 10px;
            padding-left: 25px;
        }
    }

    form{
        position: relative;

        input{
            border-radius: 6px;
            height: 36px;
            width: 176px;
            border: none;
            background-color: white;
        }

        i{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(50%)
        }
    }

    a{
        color: $text;
    }
}

footer {
    
}