:root{
    --principal-color: #090808;
    --accent-color: #FF0000;
    --text-color: #F9F6EE;
    --secondary-color: #2b2b2b;
  }
  
  @font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato-Regular.ttf");
  }

  @font-face {
    font-family: "Raleway";
    src: url("../fonts/Lato-Bold.ttf");
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  