<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/student023/shop/assets/images/brand/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/student023/shop/css/style.css">
    <link href="/student023/shop/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/student023/shop/assets/fontawesome/css/solid.css" rel="stylesheet">
    <link href="/student023/shop/assets/fontawesome/css/brands.min.css" rel="stylesheet">
    <title>Detalle Producto</title>
</head>
<body>              
    <header class="p-[20px] bg-primary flex w-screen items-center justify-between fixed z-1000 sm:justify-evenly">
        <i class="fa-regular fa-bars fa-2xl text-text cursor-pointer"></i>
        <img src="/student023/shop/assets/images/brand/logo_claro.png" alt="logo" class="w-[30px]">
         <nav class="bg-primary fixed hidden flex-col gap-[10px] p-[40px_20px] top-0 right-0 h-screen w-screen z-1000 text-text">
            <div class="flex justify-end">
                <i class="fa-regular fa-x fa-2xl w-[100vw-40px] cursor-pointer"></i>
            </div>
            <a href="" class="link sm:text-[3rem]">Inicio</a>
            <p  id="dropdown-menu-caret" class="text-[2rem] cursor-pointer font-latobold sm:text-[3rem]">Tienda
                <i class="fa-regular fa-caret-down"></i>
            </p>
            <div id="dropdown-content" class="pl-[25px] hidden flex-col gap-[10px]">
                <a href="" class="link sm:text-[3rem]">Guitarras electricas</a>
                <a href="" class="link sm:text-[3rem]">Guitarras acústicas</a>
            </div>
            <a href="" class="link sm:text-[3rem]">Ofertas</a>
            <a href="" class="link sm:text-[3rem]">Novedades</a>
        </nav>
        <form action="#" class="relative">
            <input type="search" name="search" class="rounded-[5px] h-[35px] border-0 w-[180px] bg-white sm:w-[350px]">
            <i class="fa-regular fa-search fa-xl absolute top-[50%] right-0 transform translate-[-50%,-50%]"></i>
        </form>
        <i class="fa-regular fa-circle-user fa-2xl text-text cursor-pointer"></i>
        <i class="fa-regular fa-cart-shopping fa-2xl text-text cursor-pointer"></i>
    </header>
    
    <footer class="bg-primary flex flex-col sm:grid sm:grid-cols-3">
        <div class="sm:col-start-1 sm:col-end-2 sm:felx sm:flex-col sm:gap-[10px]">
            <h2 class="text-text p-[5px_0_5px_10px] font-latobold">Ayuda</h2>
            <hr class="text-text sm:hidden">
            <a href="" class="text-[1rem] pl-[20px] font-latoregular text-text">F.A.Q</a>
            <hr class="text-text sm:hidden">
            <a href="" class="text-[1rem] pl-[20px] font-latoregular text-text">Contacto</a>
        </div>
        <hr class="text-text">
        <div class="sm:col-start-2 sm:col-end-3 sm:flex sm:flex-col sm:gap-[10px]">
            <h2 class="text-text p-[5px_0_5px_10px] font-latobold">Empresa</h2>
            <hr class="text-text sm:hidden">
            <a href="" class="text-[1rem] pl-[20px] font-latoregular text-text">Quienes somos</a>
        </div>
        <hr class="text-text sm:hidden">
        <div class="p-[15px_0_10px_20px] text-text">
            <i class="fa-brands fa-x-twitter fa-xl"></i>
            <i class="fa-brands fa-instagram fa-xl"></i>
            <i class="fa-brands fa-youtube fa-xl"></i>
        </div>
        <hr class="text-text sm:hidden">
        <div class="mb-2 sm:">
            <h2 class="text-text p-[5px_0_5px_10px] font-latobold pb-3">Métodos de pago</h2>
            <div class="flex gap-2 h-7 pl-5 ">
                <img src="/student023/shop/assets/images/payment_methods/visa.png" alt="" >
                <img src="/student023/shop/assets/images/payment_methods/mastercard.png" alt="">
                <img src="/student023/shop/assets/images/payment_methods/google.png" alt="">
                <img src="/student023/shop/assets/images/payment_methods/paypal.png" alt="">
                <img src="/student023/shop/assets/images/payment_methods/amex.png" alt="">
                <img src="/student023/shop/assets/images/payment_methods/apple.png" alt="">
            </div>    
        </div>
        <hr class="text-text sm:hidden">
        <div class="flex justify-center">
            <a href="" class="text-[1rem] pl-[20px] font-latoregular text-text">Política de privacidad | </a>
            <a href="" class="text-[1rem] pl-[20px] font-latoregular text-text">Preferencia de cookies</a>
        </div>
        <hr class="text-text sm:hidden">
        <small class="text-center text-text pt-[10px]"><i class="fa-regular fa-copyright"></i> Riff Store</small>
    </footer>
    <script src="/student023/shop/js/common.js"></script>
</body>
</html>