<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/student023/shop/assets/images/brand/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/student023/shop/css/sass/cart.css">
    <link href="/student023/shop/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/student023/shop/assets/fontawesome/css/all.css" rel="stylesheet">
    <title>Detalle Producto</title>
</head>
<body>              

    <header class="header sm:justify-evenly lg:justify-center lg:gap-[70px]">

        <i class="fa-solid fa-bars fa-2xl icon lg:hidden!"></i>

        <img src="/student023/shop/assets/images/brand/logo_claro.png" alt="logo" class="w-8 cursor-pointer">

        <nav class="nav-mobile
                    lg:bg-transparent lg:static lg:flex lg:flex-row lg:gap-10 lg:p-0 
                    lg:top-auto lg:right-auto lg:h-auto lg:w-auto lg:z-0">

            <div class="flex justify-end">
                <i class="fa-solid fa-x fa-2xl cursor-pointer lg:hidden!"></i>
            </div>

            <a href="" class="link sm:text-5xl lg:text-xl">Inicio</a>

            <p id="dropdown-menu-caret"
               class="text-[2rem] cursor-pointer font-latobold sm:text-5xl lg:text-xl lg:relative">
                Tienda <i class="fa-solid fa-caret-down"></i>
            </p>

            <div id="dropdown-content"
                 class="hidden flex-col gap-[10px] pl-[25px] dropdown-content-desktop">
                <a href="" class="link sm:text-5xl lg:text-xl">Guitarras electricas</a>
                <a href="" class="link sm:text-5xl lg:text-xl">Guitarras acústicas</a>
            </div>

            <a href="" class="link sm:text-5xl lg:text-xl">Ofertas</a>
            <a href="" class="link sm:text-5xl lg:text-xl">Novedades</a>
        </nav>

        <form action="#" class="relative">
            <input type="search" name="search"
                   class="rounded-md h-9 border-0 w-44 bg-white sm:w-80 lg:w-[800px]">
            <i class="fa-solid fa-search fa-xl absolute top-1/2 right-0 transform -translate-x-1/2 -translate-y-1/2"></i>
        </form>

       <a href="../backend/login.php"><i class="fa-solid fa-circle-user fa-2xl icon"></i></a>
        <a href="../backend/customer/my_shopping_cart.php"><i class="fa-solid fa-cart-shopping fa-2xl icon"></i></a>
    </header>

    <main>

    </main>

     <footer class="bg-primary flex flex-col 
                   sm:grid sm:grid-cols-3 sm:p-5
                   lg:grid lg:grid-cols-3 lg:px-5 lg:py-10">

        <div class="sm:col-start-1 sm:flex sm:flex-col sm:gap-[10px]
                     lg:col-start-1 lg:col-end-2 lg:flex lg:flex-col lg:gap-[10px] lg:pl-2.5">

            <h2 class="titol-footer">Ayuda</h2>

            <hr class="text-text sm:hidden lg:hidden">

            <a href="" class="text-[1rem] pl-[20px] font-latoregular text-text 
                              sm:pl-0 lg:pl-0">F.A.Q</a>

            <hr class="text-text sm:hidden lg:hidden">

            <a href="" class="text-[1rem] pl-[20px] font-latoregular text-text 
                              sm:pl-0 lg:pl-0">Contacto</a>
        </div>

        <hr class="text-text sm:hidden lg:hidden">

        <div class="sm:col-start-2 sm:flex sm:flex-col sm:gap-[10px]
                     lg:col-start-2 lg:col-end-3 lg:flex lg:flex-col lg:gap-[10px]">

            <h2 class="titol-footer">Empresa</h2>

            <hr class="text-text sm:hidden lg:hidden">

            <a href="" class="text-[1rem] pl-[20px] font-latoregular text-text 
                              sm:pl-0 lg:pl-0">Quienes somos</a>
        </div>

        <hr class="text-text sm:hidden">

        <div class="p-[15px_0_10px_20px] text-text 
                     sm:row-start-2 sm:p-[10px_0_20px_10px]
                     lg:row-start-2 lg:row-end-3 lg:pl-2.5 lg:py-5">

            <i class="fa-brands fa-x-twitter fa-xl"></i>
            <i class="fa-brands fa-instagram fa-xl"></i>
            <i class="fa-brands fa-youtube fa-xl"></i>
        </div>

        <hr class="text-text sm:hidden">

        <div class="mb-2 sm:col-start-3 sm:row-start-1
                     lg:col-start-3 lg:col-end-4">

            <h2 class="titol-footer">Métodos de pago</h2>

            <div class="flex gap-2 h-7 pl-5 sm:p-0 sm:flex-wrap">
                <img src="/student023/shop/assets/images/payment_methods/visa.png">
                <img src="/student023/shop/assets/images/payment_methods/mastercard.png" class="lg:pl-0">
                <img src="/student023/shop/assets/images/payment_methods/google.png">
                <img src="/student023/shop/assets/images/payment_methods/paypal.png">
                <img src="/student023/shop/assets/images/payment_methods/amex.png">
                <img src="/student023/shop/assets/images/payment_methods/apple.png">
            </div>
        </div>

        <hr class="text-text sm:hidden">

        <div class="flex justify-center 
                     sm:col-span-4 sm:py-5
                     lg:row-start-3 lg:row-end-4 lg:col-span-4 lg:py-5">

            <a href="" class="text-[1rem] font-latoregular text-text">Política de privacidad | </a>
            <a href="" class="text-[1rem] font-latoregular text-text">Preferencia de cookies</a>
        </div>

        <hr class="text-text sm:hidden sm:col-span-4 sm:row-start-3 sm:row-end-4 
                   lg:row-start-3 lg:row-end-4 lg:col-span-4">

        <small class="text-center text-text pt-[10px] sm:col-span-4 
                      lg:row-start-4 lg:row-end-5 lg:col-span-4">
            <i class="fa-regular fa-copyright"></i> Riff Store
        </small>
    </footer>

    <script src="/student023/shop/js/common.js"></script>
</body>
</html>